* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400; /* Regular */
  font-size: 16px;  /* adjust as needed */
  color: #222;      /* minimal, modern text color */
}

h1, h2, h3 {
  font-weight: 600; /* SemiBold for headings */
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 7vw 2vh 7vw;
  position: relative;
}

header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  border-bottom: 1px solid gray;
}

.site-branding {
  font-size: 1rem;
}

.header-nav {
  display: flex;
  gap: 0.625rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav-item {
  text-decoration: none;
  color: black;
  font-weight: 450;
  font-size: 0.8rem;
}

.header-nav-item:hover {
  text-decoration: underline;
}



@media (min-width: 768px) {
  .site-branding {
    font-size: 2rem;
  }
  .header-nav {
    gap: 1.125rem;
  }
  .header-nav-item {
    font-size: 1.2rem;
  }
}
