* {
  margin: 0;
  padding: 0;
}

html, body, header, h1 {
  margin: 0;
  padding: 0;
}

body {  
  font-family: 'Inter', sans-serif;
  color: #222;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}


a {
  text-decoration: none;
  color: inherit;
}


header {
  padding: 2vh 7vw 2vh 7vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  border-bottom: 1px solid gray;
}

.site-branding {
  display: inline-block;
  font-size: 0.9rem;
  align-self: center;
}

.header-nav {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav-item {
  text-decoration: none;
  color: black;
  font-weight: 450;
  font-size: 0.7rem;
}

.header-nav-item:hover {
  text-decoration: underline;
}


@media (min-width: 400px) {
  .site-branding {
    font-size: 1.1rem;
  }
  .header-nav {
    gap: 0.625rem;
  }
  .header-nav-item {
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) {
  .site-branding {
    font-size: 2rem;
  }
  .header-nav {
    gap: 1.125rem;
  }
  .header-nav-item {
    font-size: 1.2rem;
  }
}
